@charset "UTF-8";

/************* CSS RESET ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
	list-style: none;
} morbius

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************* HIDE SCROLLBAR *************/
html{
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
}

html::-webkit-scrollbar {
    display: none;  /* For Safari and Chrome */
}

/************* CUSTOM CSS *************/

/*** TYPOGRAPHY ***/

@font-face {
    font-family: myFont;
    src: url("Dead_Kansas.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("Dmtr_img/backimg.jpg");
    background-size: cover;
}

.logo{
    width: 17%;
    padding: 14px 16px;
}

.menu-bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    font-family: myFont, sans-serif;
    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: myFont, sans-serif;
    transition: all 0.3s;
}

.menu-bar ul li a.active{
    color: #a28b55;
}

.active{
    color: #a28b55;
}

.menu-bar ul li a:hover {
    color: #a28b55;
}

.fas {
    float: right;
    margin-left: 5px;
    padding-top: 1px;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: black;
}

/*** TRAMA ***/

.wrapper{
    margin: 100px auto;
    width: 70%;
}

.copertina{
    max-width: 600px;
    float: left;
    border: 3px solid #5b5748;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box{
    color: white;
}

.text-box h2{
    font-size: 42px;
    font-family: myFont, sans-serif;
    font-weight: normal;
    color: #a28b55;
    margin-bottom: 25px;
}

.text-box p{
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*** CAST ***/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 800px;
    background: #a28b55;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    border: 1px solid #5b5748;
    overflow: hidden;
}

.navigator{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

.navigator .bar{
    height: 5px;
    width: 45px;
    background: #100f0f;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 8px;
    box-shadow: 1px 1px 3px #a28b55, -1px -1px 3px #a28b55;
}

.navigator .bar:hover{
    background: #fff;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    display: flex;
    height: 100%;
    width: 500%;
}
.image{
    width: 20%;
    transition: 0.4s ease;
}

.container .slides .image .info{
    position: absolute;
    top: 10px;
    padding: 15px 30px;
    color: white;
}

.container .slides .image .info h2{
    font-family: myFont, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #a28b55;
}

.container .slides .image .info p{
    font-size: 16px;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    color: white;
}

.image img{
    width: 100%;
    height: 100%;
}

#btn1:checked ~ .first{
    margin-left: 0;
}

#btn2:checked ~ .first{
    margin-left: -20%;
}

#btn3:checked ~ .first{
    margin-left: -40%;
}

#btn4:checked ~ .first{
    margin-left: -60%;
}

#btn5:checked ~ .first{
    margin-left: -80%;
}