@charset "UTF-8";

/************* CSS RESET ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
	list-style: none;
} morbius

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************* HIDE SCROLLBAR *************/
html{
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;  /* For Firefox */
}

html::-webkit-scrollbar {
    display: none;  /* For Safari and Chrome */
}

/************* CUSTOM CSS *************/

/*** TYPOGRAPHY ***/

@font-face {
    font-family: myFont;
    src: url("Dead_Kansas.ttf") format('truetype');
}

* {
    padding: 55px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Dmtr_img/backimg.jpg");
    background-size: cover;
}

.logo{
    width: 17%;
    padding: 14px 16px;
}

.menu-bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    font-family: myFont, sans-serif;
    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;

    transition: all 0.3s;
}

.menu-bar ul li a.active{
    color: #a28b55;
}

.activecolor{
    color: #a28b55;
}

.menu-bar ul li a:hover {
    color: #a28b55;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: black;
}






















/*
.menu-bar{
    height: 100vh;
    width: 100%;
    display: block;
    padding: 14px 16px;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Dmtr_img/backimg.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 5%;
    padding-left: 5%;
}

.logo{
    width: 17%;
    padding: 14px 16px;
}

nav ul li{
    font-family: myFont, sans-serif;
    font-size: 17px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #a28b55;
    transition: .3s;
}

.dropdown__menu{
    display: none;
}

nav ul li :hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.dropdown__menu ul{
    display: block;
}

.fas{
    float: right;
    margin-left: 8px;
}

 */